// Import các module thành phần theo đúng thứ tự
@import 'scss/variables';
@import 'scss/mixins';
@import 'scss/components';

// --- BASE STYLES (MOBILE-FIRST) ---
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-primary;
    font-size: 14px;
    line-height: 1.6;

    @include respond-to("tablet") {
        font-size: 16px;
    }

    @include respond-to("desktop") {
        font-size: 18px;
    }
}